 .vscode*
 wp-config.php
 google*
# ignore everything in the root except the "wp-content" directory.
!wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

# ignore these plugins
wp-content/plugins/akismet/
wp-content/plugins/e-trans*/
wp-content/plugins/hello
wp-content/plugins/jetpack
wp-content/plugins/wp*
wp-content/plugins/wooc*

# ignore specific themes
wp-content/themes/twenty*/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite