#navigation-principale li {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
}

#navigation-principale li a {
    color: #fff;
}

@media (min-width: 768px) {
    .row.equal {
        display: flex;
        flex-wrap: wrap;
    }
}


/*common*/

.btn.btn-silver {
    background-color: hsl(0, 0%, 16%);
    background-repeat: repeat-x;
    background-image: linear-gradient(#5b5b5b, #282828);
    border-color: #282828 #282828 hsl(0, 0%, 11%);
    color: #eee;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
}


/* Menu */

.header #site-navigation {
    background-image: none;
    box-shadow: none;
    background-color: transparent;
    border-color: transparent;
}

a.navbar-brand {
    padding-top: 0;
}

.header .container,
.header .navbar-brand img {
    height: 150px;
}

#menu-menu-1 li {
    margin-top: 25px;
}

#menu-menu-1 li a {
    width: 150px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 9px;
    text-shadow: 1px 1px 2px rgba(48, 48, 48, .25);
    font-weight: bold;
    color: #444;
    font-size: 1.3em;
    text-align: center;
    padding-top: 40px;
    background: rgba(58, 57, 63, 0.6);
}

#menu-menu-1 li a:hover {
    font-size: 1.5em;
    color: #333;
}

#menu-menu-1 .mn-exploitation a {
    padding-top: 30px;
    background-image: url(../img/mn_exploit_off.jpg);
}

#menu-menu-1 .mn-exploitation a:hover,
#menu-menu-1 .mn-exploitation.current_page_item a {
    background-image: url(../img/mn_exploit_on.jpg);
}

#menu-menu-1 .mn-come a {
    padding-top: 30px;
    background-image: url(../img/mn_come_off.jpg);
}

#menu-menu-1 .mn-come a:hover,
#menu-menu-1 .mn-come.current_page_item a {
    background-image: url(../img/mn_come_on.jpg);
}

#menu-menu-1 .mn-champagne a {
    padding-top: 30px;
    background-image: url(../img/mn_champagne_off.jpg);
}

#menu-menu-1 .mn-champagne a:hover,
#menu-menu-1 .mn-champagne.current_page_item a {
    background-image: url(../img/mn_champagne_on.jpg);
}

#menu-menu-1 .mn-actu a {
    background-image: url(../img/mn_actu_off.jpg);
}

#menu-menu-1 .mn-actu a:hover,
#menu-menu-1 .mn-actu.current_page_item a {
    background-image: url(../img/mn_actu_on.jpg);
}

#menu-menu-1 .mn-contact a {
    background-image: url(../img/mn_contact_off.jpg);
}

#menu-menu-1 .mn-contact a:hover,
#menu-menu-1 .mn-contact.current_page_item a {
    background-image: url(../img/mn_contact_on.jpg);
}

@media screen and (max-width: 1200px) {
    #menu-menu-1 li {
        margin-top: 35px;
    }
    #menu-menu-1 li a {
        width: 120px;
        padding: 30px 5px;
        padding-top: 30px;
        padding-right: 5px;
        padding-bottom: 30px;
        padding-left: 5px;
        height: 80px;
        font-size: 1.2em;
    }
    #menu-menu-1 li a:hover {
        font-size: 1.3em;
    }
    #menu-menu-1 .mn-exploitation a,
    #menu-menu-1 .mn-come a,
    #menu-menu-1 .mn-champagne a {
        padding-top: 20px;
    }
}

@media screen and (max-width: 992px) {
    .header .container,
    .header .navbar-brand img {
        height: 90px;
    }
    #menu-menu-1 li {
        margin-top: 15px;
    }
    #menu-menu-1 li a {
        width: 90px;
        padding-top: 20px;
        height: 60px;
        font-size: 0.9em;
    }
    #menu-menu-1 li a:hover {
        font-size: 0.9em;
    }
    #menu-menu-1 .mn-exploitation a,
    #menu-menu-1 .mn-come a,
    #menu-menu-1 .mn-champagne a {
        padding-top: 10px;
    }
}

@media screen and (max-width: 768px) {
    .navbar-collapse {
        position: relative;
        z-index: 200;
    }
    .navbar-header {
        height: 100px;
    }
    ul#menu-menu-1 {
        background-color: #f8f8f8;
    }
    ul#menu-menu-1 li a {
        background-image: none
    }
    ul#menu-menu-1 li.current_page_item a,
    ul#menu-menu-1 li a:hover {
        background-color: #e7e7e7;
    }
    .header .container,
    .header .navbar-brand img {
        height: 95px;
    }
    #menu-menu-1 li {
        margin-top: 0;
    }
    #menu-menu-1 li a {
        width: auto;
        padding: 5px;
        height: auto;
    }
}


/* modal age */

.modalLegalAge .modal-body {
    background-color: #eee;
}

.modalLegalAge .roundedImage {
    overflow: hidden;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    background-color: #fff;
    margin: 0 auto 15px;
}

.modalLegalAge .roundedImage img {
    width: 150px;
    margin: 15px 0 0 14px;
}

.modalLegalAge p {
    text-align: center;
}

.modalLegalAge .btn {
    margin: 15px auto;
    display: block;
}


/*caroussel*/

.champagne-carrousel {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
}

.champagne-carrousel .inner-text {
    position: absolute;
    z-index: 110;
    top: 50%;
    left: 25%;
    width: 50%;
    margin-top: -100px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 1em 0;
    padding: 15px;
}

@media screen and (max-width: 768px) {
    .champagne-carrousel .inner-text {
        position: static;
        width: 100%;
        padding: 15px;
        margin: 0;
        z-index: 1;
    }
}


/*actualityHp*/

.actualityHp .contentActu {
    background-color: #eee;
    margin: 0 5px;
    padding: 5px;
    height: 100%;
}

.actualityHp .contentActu img {
    width: 100%
}

.actualityHp .contentActu a div {
    text-align: center;
    color: #444;
    font-size: 1.2em;
}