body {
    font-family: Raleway !important
}

.parallax {
    /* The image used */
    /* background-image: url("img_parallax.jpg"); */
    /* Set a specific height */
    /* height: 500px; */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#navigation-principale li {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
}

#navigation-principale li a {
    color: #fff;
}

.flex-md-row {
    flex-direction: row !important;
}

.mb-2 {
    margin-bottom: 2em;
}

.bottom-text {
    position: absolute;
    bottom: 0;
}

.menu-bottle .list-group .list-group-item {
    border: none;
}

.menu-bottle .list-group .list-group-item.active {
    background-image: none;
    background-color: transparent;
}

@media (min-width: 768px) {
    .row.equal {
        display: flex;
        flex-wrap: wrap;
    }
}

.blog-footer .address {
    background-color: #eee;
    text-align: center;
}

.blog-footer {
    margin-top: 3em;
}


/*common*/

.btn.btn-silver {
    background-color: hsl(0, 0%, 16%);
    background-repeat: repeat-x;
    background-image: linear-gradient(#5b5b5b, #282828);
    border-color: #282828 #282828 hsl(0, 0%, 11%);
    color: #eee;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
}


/* Menu */

.header {
    position: fixed;
    z-index: 800;
    left: 0;
    right: 0;
}

.chp-body.container {
    padding-top: 100px;
}

.header.frontpage {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 800;
    display: none;
}

.header .navbar-brand {
    background-color: rgba(255, 255, 255, 0.3);
    display: block;
    height: inherit;
}

.header #site-navigation {
    /* background-image: none; */
    box-shadow: none;
    background-color: transparent;
    border-color: transparent;
    border: none;
}

a.navbar-brand {
    padding-top: 0;
}

.header .container,
.header .navbar-brand img {
    height: 65px;
    margin-top: 5px;
}

.header .navbar-toggle {
    background-color: #333;
}

#menu-menu-1 li a {
    width: 150px;
    height: 56px;
    margin: 10px 9px;
    text-shadow: 1px 1px 2px rgba(48, 48, 48, .25);
    color: #555;
    font-size: 1.3em;
    text-align: center;
    background-color: rgba(58, 57, 63, 0.05);
    border: rgba(58, 87, 63, 0.1) 1px solid;
    padding: 5px 15px;
}

#menu-menu-1 li a:hover {
    background-color: rgba(58, 57, 63, 0.2);
}

@media screen and (max-width: 1200px) {
    #menu-menu-1 li a {
        width: 115px;
        padding: 30px 5px;
        padding-top: 30px;
        padding-right: 5px;
        padding-bottom: 30px;
        padding-left: 5px;
        height: 80px;
        font-size: 1.2em;
    }
    #menu-menu-1 li a:hover {
        font-size: 1.3em;
    }
    #menu-menu-1 .mn-exploitation a,
    #menu-menu-1 .mn-come a,
    #menu-menu-1 .mn-champagne a {
        padding-top: 20px;
    }
}

@media screen and (max-width: 992px) {
    #menu-menu-1 li a {
        width: 85px;
        padding-top: 20px;
        height: 60px;
        font-size: 0.9em;
        margin-right: 5px;
    }
    #menu-menu-1 li a:hover {
        font-size: 0.9em;
    }
    #menu-menu-1 .mn-exploitation a,
    #menu-menu-1 .mn-come a,
    #menu-menu-1 .mn-champagne a {
        padding-top: 10px;
    }
}

@media screen and (max-width: 768px) {
    .navbar-default .navbar-collapse {
        background-color: rgba(180, 180, 180, 0.8);
    }
    .navbar-collapse {
        position: relative;
        z-index: 200;
    }
    ul#menu-menu-1 li.menu-item a,
    ul#menu-menu-1 li.menu-item.current_page_item a,
    ul#menu-menu-1 li.menu-item a:hover {
        background-image: none;
        background-color: #e7e7e7;
    }
    #menu-menu-1 li {
        margin-top: 0;
    }
    #menu-menu-1 li a {
        width: auto;
        padding: 5px;
        height: auto;
    }
}


/* modal age */

.modalLegalAge .modal-body {
    background-color: #eee;
}

.modalLegalAge .roundedImage {
    overflow: hidden;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    background-color: #fff;
    margin: 0 auto 15px;
}

.modalLegalAge .roundedImage img {
    width: 150px;
    margin: 15px 0 0 14px;
}

.modalLegalAge p {
    text-align: center;
}

.modalLegalAge .btn {
    margin: 15px auto;
    display: block;
}


/*caroussel*/

.carousel-fade .carousel-inner .item {
    transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    transform: translate3d(0, 0, 0);
}

.champagne-carrousel {
    margin: 0 auto;
    position: relative;
}

.champagne-carrousel .carousel-inner img {
    width: 100%
}

.champagne-carrousel .inner-text {
    position: absolute;
    z-index: 110;
    top: 50%;
    left: 50%;
    /* width: 50%; */
    transform: translate(-50%, -50%);
    /* background-color: rgba(255, 255, 255, 0.6); */
    /* border-radius: 1em 0; */
    padding: 15px;
}

.champagne-carrousel .inner-text img {
    width: 100%
}


/*actualityHp*/

.actualityHp .contentActu {
    background-color: #eee;
    margin: 0 5px;
    padding: 5px;
    height: 100%;
}

.actualityHp .contentActu img {
    width: 100%
}

.actualityHp .contentActu a div {
    text-align: center;
    color: #444;
    font-size: 1.2em;
}


/* exploitation */

.widget-exploitation .image {
    margin-bottom: 15px;
}


/* home */

.chp-body .widget.widget_easy_facebook_page_plugin {
    margin: 15px;
    text-align: center;
}

.home-art img {
    max-width: 250px;
    width: 100%;
}

@media (max-width: 768px) {
    .home-art img {
        display: none;
    }
}

.actuCard {
    text-align: center
}

.actuCard .card-text {
    text-align: left
}

.actuCard .card-img-top {
    height: 150px;
}

.single .actu-img {
    text-align: center;
}

.single .actu-img img {
    max-width: 640px;
}

.single .navigation .next {
    text-align: right;
}

.single .body-actu {
    margin: 3em 1em;
    text-align: left;
}

.champagne h2 {
    text-align: center
}

.champagne .intemporels {
    background-image: url(../img/fond_liverty.jpg);
}

.champagne .terroir {
    background-image: url(../img/fond_vigne2.jpg);
}

.champagne .terroir,
.champagne .intemporels {
    font-size: 1.2em;
    background-repeat: no-repeat;
    background-size: cover;
}

.champagne .content-cat-desc {
    margin-top: 1em;
}

.champagne .content-cat-desc p {
    text-align: center;
}

.champagne .bottles {
    text-align: center
}

.champagne .bottles img {
    width: 20%
}

.champagne .bottles img:hover {
    width: 25%
}

.menu-bottle .list-group-item.title {
    font-size: 1.5em;
}

.menu-bottle .list-group-item.title,
.menu-bottle .list-group-item.title:hover {
    color: #222;
    cursor: pointer;
}

.bottle-desc {
    text-align: center;
}

.bottle-desc .bkgImg.liverty {
    background-image: url(../img/fond_liverty.jpg);
}

.bottle-desc .bkgImg.vigne {
    background-image: url(../img/fond_vigne.jpg);
}

.bottle-desc .bkgImg {
    background-position: top right;
    background-repeat: no-repeat;
    width: 750px;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.bottle-desc .bottle-img {
    position: relative;
}

.bottle-desc .bottle-img .bottle-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bottle-desc .bottle-img .bottle-content .bottle-part {
    width: 50%;
    height: 33%;
    float: left;
    position: relative;
}

.bottle-part .arrow {
    width: 50%;
    float: left;
    height: 100%;
}

.bottle-part .arrow img {
    width: 100%;
}

.bottle-part .arrow-text {
    padding-left: 15px;
}

.bottle-part .arrow-1 {
    padding-top: 2em;
}

.bottle-part .arrow-2,
.bottle-part .arrow-3 {
    padding-top: 1em;
}

.bottle-part .arrow-4 .bottom-text {
    width: 50%;
    margin-bottom: .5em;
}

.bottle-part .tag {
    font-size: 1.5em;
    color: #D4AF37;
    padding: 3% 23%;
}

@media screen and (max-width: 768px) {
    .bottle-part .tag {
        font-size: 1em;
        padding: 3% 38% 0 10%;
    }
}

.tag-right {
    text-align: right;
}

.tag-left {
    text-align: left;
}